<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.insper.atleticainsper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/APP_NAME"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/ACT_TITLE_LOGIN"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminMenuActivity"
            android:label="@string/ACT_TITLE_MANAGE_MENU"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ManageProductsActivity"
            android:label="@string/ACT_TITLE_PRODUCTS_ADMIN"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SalesHistoryActivity"
            android:label="@string/ACT_TITLE_SALES_HISTORY"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CashFlowActivity"
            android:label="@string/ACT_TITLE_CASH_FLOW"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProductsNormalActivity"
            android:label="@string/ACT_TITLE_PRODUCTS_NORMAL"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SellProductActivity"
            android:label="@string/ACT_TITLE_SELL_PRODUCT" />
        <activity
            android:name=".ChangeProductActivity"
            android:label="@string/ACT_TITLE_CHANGE_PRODUCT" />
        <activity
            android:name=".AddProductActivity"
            android:label="@string/ACT_TITLE_ADD_PRODUCT" />
        <activity
            android:name=".LoadingActivity"
            android:label="@string/ACT_TITLE_LOADING"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
    </application>

</manifest>